In [1]:
## Fibonacci series up to 1000
a,b=0,1
while a < 1000:
    print(a, end='|')
    a, b = b, a + b
print()

0|1|1|2|3|5|8|13|21|34|55|89|144|233|377|610|987|

# ðŸ Introduction to Python

## What is Python?

Python is a popular high-level programming language. It was created by **Guido van Rossum** and released in **1991**.

Python is designed to be:
- Easy to read
- Simple to write
- Powerful and flexible

---

## Where is Python Used?

Python is widely used in:

- ðŸŒ Web development (server-side)
- ðŸ’» Software development
- ðŸ§® Mathematics and scientific computing
- âš™ï¸ System scripting and automation
- ðŸ“Š Data analysis and big data
- ðŸ¤– Machine Learning and Artificial Intelligence

---

## What Can Python Do?

Python can:

- Create web applications on servers
- Automate workflows and repetitive tasks
- Connect to database systems
- Read and modify files
- Handle large datasets
- Perform complex mathematical calculations
- Be used for rapid prototyping
- Be used for production-ready software development

---

## Why Python?

Python is popular because:

- âœ… Works on multiple platforms (Windows, macOS, Linux, Raspberry Pi)
- âœ… Has a simple syntax similar to the English language
- âœ… Requires fewer lines of code compared to many other languages
- âœ… Uses an interpreter (code runs immediately)
- âœ… Supports multiple programming styles:
  - Procedural
  - Object-Oriented
  - Functional

---

## Good to Know

- The most recent major version is **Python 3**
- Python code can be written using:
  - A text editor
  - IDEs (Integrated Development Environments) such as:
    - Thonny
    - PyCharm
    - NetBeans
    - Eclipse

IDEs are especially useful for managing large Python projects.

---

## Python Syntax Compared to Other Languages

Python focuses on **readability**:

- Uses **new lines** instead of semicolons (`;`)
- Uses **indentation (spaces)** to define code blocks
- Does **not** use curly braces `{}` like C, Java, or JavaScript

### Example:

```python
if x > 5:
    print("x is greater than 5")

In [46]:
import sys
print(sys.version)
print(sys.version_info)
print(sys.executable)
print(sys.path)
print(sys.platform)
print(sys.maxsize)
print(sys.prefix)
print(sys.api_version)
print(sys.byteorder)
print(sys.copyright)

3.13.9 (tags/v3.13.9:8183fa5, Oct 14 2025, 14:09:13) [MSC v.1944 64 bit (AMD64)]
sys.version_info(major=3, minor=13, micro=9, releaselevel='final', serial=0)
C:\Users\venki\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe
['C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0\\python313.zip', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0\\DLLs', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0\\Lib', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0', '', 'C:\\Users\\venki\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python313\\site-packages', 'C:\\Users\\venki\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python313\\site-packages\\win32', 'C:\\Users\\venki\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python313\\site-packages\\win32\\lib', 'C:\\Users\\venki\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python313\\site-packages\\Pythonwin', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0\\Lib\\site-packages']
win32
9223372036854775807
C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0
1013
little
Copyright (c) 2001-2024 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.

In [47]:
print("I am venkatesh",33,"Date of Birth is 24-05-1992",1+3)

I am venkatesh 33 Date of Birth is 24-05-1992 4

In [48]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
print(x,y,z)

Orange
Banana
Cherry
Orange Banana Cherry

In [49]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)
print(x+y+z)

Python is awesome
Pythonisawesome

In [50]:
x = 5
y = "John"
print(x, y)

5 John

In [51]:
#Global Variable
x = "awesome"

def myfunc():
# local variable
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [52]:
def myfunc():
  global x
  x = "fantastic"
  return x

myfunc()
x= "test"

print("Python is " + x)

print(myfunc())

Python is test
fantastic

In [53]:
x = 5
print(type(x))

<class 'int'>

In [54]:
x?

Type:        int
String form: 5
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating-point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [55]:
x = str("Hello World")

In [56]:
s = "hello"
s[0]='H'
print(id(s))

s = s + " world"
print(id(s))

TypeError: 'str' object does not support item assignment

In [ ]:
x = range(6)
print(x)

range(0, 6)

In [ ]:
x = dict(name="John", age=36)
print(x.get("age"))

36

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
import random
print(random.randrange(1,10))

6

In [ ]:
a = "Hello, World!"
print(a[1])
print(len(a))

e
13

In [ ]:
txt = "The best things in life are free!"
print("best" in txt)
print("best" not in txt)

True
False

In [ ]:
b = "Hello, World!"
print(b[10:-1])

ld

In [ ]:
print(b.upper())

HELLO, WORLD!

In [ ]:
print(a.replace("H", "J"))

Jello, World!

In [ ]:
print(a.split(","))

['Hello', ' World!']

In [ ]:
age = 33
print(f"My name is Venkatesh. I am {age} years old.")

My name is Venkatesh. I am 33 years old.

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
txt = "We are the so-called \"Vikings\"\n from the \t north."
print(txt)

We are the so-called "Vikings"
 from the 	 north.

In [ ]:
string="hello, world!"
print(string.capitalize())
string=string.upper()
print(string.casefold())

Hello, world!
hello, world!

In [ ]:
string="Venkatesh Venkatesh"
print(string.center(38))

         Venkatesh Venkatesh

In [ ]:
print(string.count("e"))

4

In [ ]:

string="Alexa"
print(string.encode())
print(string.endswith("a"))
print(string.expandtabs(30))
print(string.find("e"))

b'Alexa'
True
Alexa
2

In [ ]:
print("{0} is learning {1}. {0} likes {1}.".format("Venkatesh", "Python"))

Venkatesh is learning Python. Venkatesh likes Python.

In [ ]:
index = string.index("e")
print(string)
print(index)

Alexa
2

In [ ]:
print(string.isalnum() )

True

In [ ]:
print(string.isalpha())

True

In [ ]:
print(string.isascii())

True

In [ ]:
print(string.isdecimal())

False

In [ ]:
print(string.isdigit())

False

In [ ]:
print(string.isidentifier())

True

In [ ]:
print(string.join(["My","name","is","Venkatesh"]))

MyAlexanameAlexaisAlexaVenkatesh

In [ ]:
a= " Hello, World! "
a="Test".join(a)
print(a)

 TestHTesteTestlTestlTestoTest,Test TestWTestoTestrTestlTestdTest!Test

In [ ]:
print(string.partition("e"))
print(string.replace("a", "o"))
string.replace("e", "i")
print(string)

('Al', 'e', 'xa')
Alexo
Alexa

In [ ]:
print(string.rfind("e"))
print(string.swapcase())

2
aLEXA

In [ ]:
a= "balu"
print(a.title() )

Balu

In [ ]:
print(bool(None))

False

In [ ]:
class myclass():
    def __len__(self):
        return 0

class mydaugtherclass(myclass):
    def test():
        return 5

myobj = mydaugtherclass()
print(bool(myobj.test()))

True

In [ ]:
x = 15
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

19
11
60
3.75
3
50625
3

In [ ]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [ ]:
x= [5]
y= [5]
print(x == y) 
print(x is y)

True
False

In [ ]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)

True

In [ ]:
text = "Hello World"

print("H" in text)
print("hello" in text)
print("z" not in text)

True
False
True

In [ ]:
print(6 & 3)

2

In [ ]:
mixed_list = [
    "apple",        # string
    10,             # int
    3.14,           # float
    "banana",
    25,
    99.9,
    "orange",
    0,
    7.5,
    "grapes",
    -3,
    42.0,
    "mango",
    100,
    0.001,
    "milk",
    8,
    56.78,
    "bread",
    1
]

In [ ]:
print(len(mixed_list))

20

In [ ]:
for item in mixed_list:
    if isinstance(item, str):
        print(f'"{item}" is a string')
    if isinstance(item, int):
        print(f'{item} is an integer')
    if isinstance(item, float):
        print(f'{item} is a float')

"apple" is a string
10 is an integer
3.14 is a float
"banana" is a string
25 is an integer
99.9 is a float
"orange" is a string
0 is an integer
7.5 is a float
"grapes" is a string
-3 is an integer
42.0 is a float
"mango" is a string
100 is an integer
0.001 is a float
"milk" is a string
8 is an integer
56.78 is a float
"bread" is a string
1 is an integer

In [ ]:
thislist=list(range(1,21))
print(thislist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
print(mixed_list[2:5])

[3.14, 'banana', 25]

In [ ]:
print(thislist[2:6])

[3, 4, 5, 6]

In [ ]:
print(thislist[-4:-1])

[17, 18, 19]

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:4] = ["blackcurrent", "blueberry","strawberry"]
print(thislist)
thislist.insert(2,"orange")
print(thislist)
thislist.append("kiwi")
print(thislist)
thislist2=["mango", "pineapple", "papaya"]
thislist.extend(thislist2)
print(thislist)
thistuple={"newberry", "watermelon"}
thislist.extend(thistuple)
print(thislist)
thislist.remove("orange")
print(thislist)
thislist.pop(3)
print(thislist)
thislist.pop()
print(thislist)
del thislist[0]
print(thislist)
del thislist

['apple', 'blackcurrent', 'blueberry', 'strawberry']
['apple', 'blackcurrent', 'orange', 'blueberry', 'strawberry']
['apple', 'blackcurrent', 'orange', 'blueberry', 'strawberry', 'kiwi']
['apple', 'blackcurrent', 'orange', 'blueberry', 'strawberry', 'kiwi', 'mango', 'pineapple', 'papaya']
['apple', 'blackcurrent', 'orange', 'blueberry', 'strawberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon', 'newberry']
['apple', 'blackcurrent', 'blueberry', 'strawberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon', 'newberry']
['apple', 'blackcurrent', 'blueberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon', 'newberry']
['apple', 'blackcurrent', 'blueberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon']
['blackcurrent', 'blueberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon']

In [ ]:
thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']

In [ ]:
new_list= [x for x in thislist]
print(new_list)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']

In [ ]:
string="Hello, World!"
if 'e' in string:
    print("Yes, 'e' is present.")

Yes, 'e' is present.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list=[x for x in fruits if 'a' in x]
print(new_list)

new_list.sort(reverse=True)
print(new_list)

new_list.reverse()
print(new_list)

['apple', 'banana', 'mango']
['mango', 'banana', 'apple']
['apple', 'banana', 'mango']

In [ ]:
my_list=list(new_list[1:2])
print(my_list)

['banana']

In [ ]:
newlist=my_list.copy()
print(newlist)

['banana']

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[0:2])

('apple', 'banana')

In [ ]:
print(thistuple[-1])

mango

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
x = ("apple", "banana", "cherry")
x+= ("orange",)
print(x)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits[1]='Blueberry'
print(fruits)

['apple', 'Blueberry', 'cherry', 'kiwi', 'mango']

In [ ]:
x = ("apple", "banana", "cherry","banana")
print(set(x))

{'cherry', 'banana', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry","banana"}
x.add("orange")
print(x)

{'cherry', 'orange', 'banana', 'apple'}

In [ ]:
for fruit in x:
    print(fruit)

apple
banana
cherry
orange

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
fruits.count("apple")

1

In [ ]:
fruits.index("cherry")

2

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
print(len(thisdict))
thisdict["resale"] = 'Yes'

3

In [ ]:
print(len(thisdict))

4

In [ ]:
thisdict.get("model")

'Mustang'

In [ ]:
thisdict.values()
thisdict.update({"color": "red"})
print(thisdict)
thisdict.update({"brand": "Ferrari"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'resale': 'Yes', 'color': 'red'}
{'brand': 'Ferrari', 'model': 'Mustang', 'year': 1964, 'resale': 'Yes', 'color': 'red'}

In [ ]:
thisdict.pop("model")
print(thisdict)

{'brand': 'Ferrari', 'year': 1964, 'resale': 'Yes', 'color': 'red'}

In [ ]:
def mytest(*args):
    print(args[1])
    print(args[0])

mytest("Hello", "World")

World
Hello

In [ ]:
def my_function(name = "friend"):
  print("Hello", name)

my_function("Emil")
my_function("Tobias")
my_function()
my_function("Linus")

Hello Emil
Hello Tobias
Hello friend
Hello Linus

In [ ]:
def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function(name = "Buddy", animal = "dog")

I have a dog
My dog's name is Buddy

In [ ]:
def my_function(**myvar):
  print("Type:", type(myvar))
  print("Name:", myvar["name"])
  print("Age:", myvar["age"])
  print("All data:", myvar)

my_function(name = "Tobias", age = 30, city = "Bergen")
my_function(name = "Tobias",30,city = "Bergen")

SyntaxError: positional argument follows keyword argument (767074759.py, line 8)

In [ ]:
def my_function(name, /):
  print("Hello", name)

my_function(name="Emil")

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'name'

In [ ]:
def my_function(title, *args, **kwargs):
  print("Title:", title)
  print("Positional arguments:", args)
  print("Keyword arguments:", kwargs)

my_function("User Info", "test","Test2","Emil", "Tobias", age = 25, city = "Oslo")

Title: User Info
Positional arguments: ('test', 'Test2', 'Emil', 'Tobias')
Keyword arguments: {'age': 25, 'city': 'Oslo'}

In [ ]:
x = "global"

def outer():
  x = "enclosing"
  def inner():
    nonlocal x
    x = "local"
    print("Inner:", x)
  inner()
  print("Outer:", x)

outer()
print("Global:", x)

Inner: local
Outer: local
Global: global

In [ ]:
global x 
x = 300
def myfunc():
  x = 200

myfunc()
print(x)

300

In [ ]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Hello Sally"

@changecase
def otherfunction():
  return "I am speed!"

print(myfunction())
print(otherfunction())

HELLO SALLY
I AM SPEED!

In [ ]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

def addgreeting(func):
  def myinner():
    return "Hello " + func() + " Have a good day!"
  return myinner

@changecase
@addgreeting
def myfunction():
  return "Tobias"

print(myfunction())

HELLO TOBIAS HAVE A GOOD DAY!

In [ ]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Have a great day!"

print(myfunction.__name__)

myinner

In [ ]:
def myfunction():
  return "Have a great day!"

print(myfunction.__name__)

myfunction

In [ ]:
import functools

def changecase(func):
  @functools.wraps(func)
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Have a great day!"

print(myfunction.__name__)
print(myfunction.__doc__)

myfunction
None

In [ ]:
def capitalize(n):
    def capitalize(func):
        if n==2:
            def mydec():
                return func().capitalize()           
            
        elif n==1:
            def mydec():
                return func().upper()
        return mydec         
    return capitalize

def greeting(func):
    def extraadd():
            return "Vanakkam "+ func()
    return extraadd

@capitalize(2)
@greeting
def test():
    name= "Venkatesh"
    return f"""my name is {name} engineer by profession."""

print(test())

Vanakkam my name is venkatesh engineer by profession.

## Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [58]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [64]:
a = [1,2,3,4,5]

x= list(map(lambda x:x**2,a[2:]))
print(x)

[9, 16, 25]

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
odd_numbers=list(filter(lambda x:x%2!=0,numbers[0:3]))
print(odd_numbers)

[1, 3]

In [69]:
numbers = [1,8,5,9,4,2,6,3,7]
numbers=list(sorted(numbers, key=lambda x:x))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
students = [("Emil", 25), ("Tobias", 22), ("Linus", 28)]
sorted_students = sorted(students, key=lambda x: x[0])
print(sorted_students)

[('Emil', 25), ('Linus', 28), ('Tobias', 22)]

In [5]:
def countdown(n):
    if n<=0:
        return 1
    else:
        
        return n*countdown(n-1)
countdown(6)

720

In [7]:
def my_generator():
  yield 1
  yield 2
  yield 3

for value in my_generator():
  print(value)

1
2
3

In [17]:
fruits=("apple", "banana", "cherry")
fruitsd={ "apple": 1, "banana": 2, "cherry": 3 }
iterator = iter(fruits)
print(next(iterator))
print(next(iterator))
print(next(iterator))
iteratord = iter(fruitsd.values())
print(next(iteratord))

apple
banana
cherry
1

In [20]:
class MyNumbers:
  def __iter__(self):
    self.a = 0
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

0
1
2
3
4

In [36]:
class test:
    def my_initialize(self):
        self.a=1
        return self
    
    def next_value(self):
        value= self.a
        self.a +=2
        return value 

myobject= test()
myobject.my_initialize()
print(myobject.next_value())
print(myobject.next_value())
print(myobject.next_value())

1
3
5

In [37]:
import platform

x = dir(platform)
print(x)

['AndroidVer', 'IOSVersionInfo', '_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_java_getprop', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_parse_os_release', '_platform', '_platform_cache', '_sys_version', '_sys_version_cache', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_stages', '_win32_ver', '_wmi', '_wmi_query', 'android_ver', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'ios_ver', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

#Python Dates

In [43]:
import datetime

x = datetime.datetime.now()
print(x.strftime("%y-%b-%d %H:%M:%S"))
print(x)

26-Jan-06 10:38:48
2026-01-06 10:38:48.398455

In [39]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [47]:
datetime.time.now()

AttributeError: type object 'datetime.time' has no attribute 'now'

In [45]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [46]:
x = abs(-7.25)

print(x)

7.25

In [48]:
x = pow(4, 3)

print(x)

64

In [51]:
import json

x =  '{ "name":"John", "age":30, "city":"New York"}'

y= json.loads(x) # which will convert JSON string to Python Dictionary
for key, value in y.items():
    print(key, value)

name John
age 30
city New York

In [54]:
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)
with open("test.json", "w") as f:
    f.write(y)

{"name": "John", "age": 30, "city": "New York"}

In [1]:
import re
txt = "The rain in Spain"
x= re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [3]:
y=re.split("\s", txt)
print(y)
y?

['The', 'rain', 'in', 'Spain']

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\venki\AppData\Local\Temp\ipykernel_26032\653286232.py:1: SyntaxWarning: invalid escape sequence '\s'
  y=re.split("\s", txt)

Type:        list
String form: ['The', 'rain', 'in', 'Spain']
Length:      4
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [4]:
pip list

Package                   Version
------------------------- -----------
annotated-types           0.7.0
asttokens                 3.0.0
attrs                     25.4.0
branca                    0.8.2
cachetools                5.5.2
certifi                   2025.8.3
charset-normalizer        3.4.3
click                     8.3.0
colorama                  0.4.6
comm                      0.2.3
contourpy                 1.3.3
cycler                    0.12.1
dacite                    1.9.2
debugpy                   1.8.17
decorator                 5.2.1
executing                 2.2.1
filetype                  1.2.0
folium                    0.20.0
fonttools                 4.60.0
geopandas                 1.1.1
google-api-core           2.25.1
google-api-python-client  2.183.0
google-auth               2.40.3
google-auth-httplib2      0.2.0
google-auth-oauthlib      1.2.2
googleapis-common-protos  1.70.0
greenlet                  3.3.0
httplib2                  0.31.0
idna                      3.10
ImageHash                 4.3.1
iniconfig                 2.3.0
ipykernel                 6.30.1
ipython                   9.5.0
ipython_pygments_lexers   1.1.1
jedi                      0.19.2
Jinja2                    3.1.6
joblib                    1.5.2
jsonschema                4.25.1
jsonschema-specifications 2025.9.1
jupyter_client            8.6.3
jupyter_core              5.8.1
kiwisolver                1.4.9
llvmlite                  0.44.0
MarkupSafe                3.0.3
matplotlib                3.10.0
matplotlib-inline         0.1.7
minify_html               0.18.1
multimethod               1.12
mysql-connector-python    9.5.0
narwhals                  2.13.0
nest-asyncio              1.6.0
networkx                  3.5
nltk                      3.9.1
numba                     0.61.0
numpy                     2.1.3
oauthlib                  3.3.1
packaging                 25.0
pandas                    2.3.2
parso                     0.8.5
patsy                     1.0.2
phik                      0.12.5
pillow                    11.3.0
pip                       25.3
platformdirs              4.4.0
plotly                    6.5.0
pluggy                    1.6.0
prompt_toolkit            3.0.52
proto-plus                1.26.1
protobuf                  6.32.1
psutil                    7.1.0
pure_eval                 0.2.3
puremagic                 1.30
pyasn1                    0.6.1
pyasn1_modules            0.4.2
pydantic                  2.12.3
pydantic_core             2.41.4
Pygments                  2.19.2
pyogrio                   0.12.1
pyparsing                 3.2.5
pyproj                    3.7.2
pytest                    9.0.2
pytest-html               4.1.1
pytest-metadata           3.1.1
python-dateutil           2.9.0.post0
pytz                      2025.2
PyWavelets                1.9.0
pywin32                   311
PyYAML                    6.0.3
pyzmq                     27.1.0
referencing               0.37.0
regex                     2025.9.18
requests                  2.32.5
requests-oauthlib         2.0.0
rpds-py                   0.30.0
rsa                       4.9.1
scipy                     1.15.3
seaborn                   0.13.2
setuptools                80.9.0
shapely                   2.1.2
six                       1.17.0
SQLAlchemy                2.0.44
stack-data                0.6.3
statsmodels               0.14.5
tornado                   6.5.2
tqdm                      4.67.1
traitlets                 5.14.3
typeguard                 4.4.4
typing_extensions         4.15.0
typing-inspection         0.4.2
tzdata                    2025.2
uritemplate               4.2.0
urllib3                   2.5.0
visions                   0.8.1
wcwidth                   0.2.14
wordcloud                 1.9.4
xyzservices               2025.11.0
ydata-profiling           4.17.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
class MyName:
    def __init__(self, name):
        self.name = name.upper()

    def display(self):
        print("My name is", self.name.lower())

myobj = MyName("Venkatesh")

myobj.display()

My name is venkatesh

In [15]:
class MyName:
    def __init__(self, name):
        self.name = name.upper()

class MyChild(MyName):
    def displaychild(self):
        print("My child name is", self.name.title())

p1= MyChild("sally")
p1.displaychild()

My child name is Sally

In [27]:
# Level 1 (Grandparent)
class BaseTest:
    def __init__(self):
        print("BaseTest init")

    def setup(self):
        print("Base setup")

# Level 2 (Parent)
class BrowserSetup(BaseTest):
    def __init__(self):
        super().__init__()           # calls BaseTest __init__
        print("BrowserSetup init")

    def launch_browser(self):
        print("Browser launched")

# Another parent class (for multiple inheritance)
class Logger:
    def __init__(self):
        print("Logger init")

    def log(self, message):
        print(f"LOG: {message}")

# Level 3 (Child)
class LoginTest(BrowserSetup, Logger):
    def __init__(self):
        super().__init__()           # follows MRO
        print("LoginTest init")

    def test_login(self):
        self.setup()                 # from BaseTest
        self.launch_browser()        # from BrowserSetup
        self.log("Login test started")  # from Logger
        print("Login test executed")

# Create object
test = LoginTest()
test.test_login()
print(LoginTest.mro())

BaseTest init
BrowserSetup init
LoginTest init
Base setup
Browser launched
LOG: Login test started
Login test executed
[<class '__main__.LoginTest'>, <class '__main__.BrowserSetup'>, <class '__main__.BaseTest'>, <class '__main__.Logger'>, <class 'object'>]

In [35]:
class A:
    def show(self):
        print("A")

class B(A):
    def show(self):
        super().show()
        print("B")

class C(A):
    def show(self):
        super().show()
        print("C")

class D(B,C):
    def show(self):
        super().show()
        print("D")

d = D()
d.show()
print(D.mro())

A
C
B
D
[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]

In [36]:
class Dog:
    def sound(self):
        print("Bark")

class Cat:
    def sound(self):
        print("Meow")

animals = [Dog(), Cat()]

for a in animals:
    a.sound()

Bark
Meow

In [3]:
class Test:
    def add(self, *args):
        return(sum(args))

t = Test()
a=[1,2,3,4]
t.add(a)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [48]:
from collections.abc import Iterable

class Test:
    def add(self, *args):
        def flatten_and_sum(x):
            if isinstance(x, (int, float)) and not isinstance(x, bool):
                return x

            if isinstance(x, Iterable) and not isinstance(x, (str, bytes, dict)):
                total = 0
                for item in x:
                    total += flatten_and_sum(item)
                return total

            if isinstance(x, dict):
                total = 0
                for v in x.values():
                    total += flatten_and_sum(v)
                return total

            return 0

        return flatten_and_sum(args)
    
t = Test()
a = [1, 2, [3, 4], (5, 6), {7, 8}, {'a': 9, 'b': 10}]
t.add(a)

55

In [54]:
a = [1, 2, [3, 4], (5, 6), {7, 8}, {'a': 9, 'b': 10}]
print(isinstance(a, list))

True

In [58]:
class Outer:
  def __init__(self):
    self.name = "Outer Class"

  class Inner:
    def __init__(self):
      self.name = "Inner Class"

    def display(self):
      print("This is the inner class")

outer = Outer()
inner = outer.Inner()
inner.display()

This is the inner class

In [63]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.__age = age # Private property

  def get_age(self):
    return self.__age


p1 = Person("Emil", 25)
print(p1.name)
print(p1.get_age()) # This will cause an error

Emil
25

In [ ]:
def x`(n):
    for i in range(n):
        if i % 2 == 0:
            yield i

for num in even_numbers(10):
    print(num)

0
2
4
6
8

In [2]:
def func(x, *y):
    print(x)
    print(y)
func(1, 2, 3, 4, 5)

1
(2, 3, 4, 5)

In [ ]:
num =[87063,61094,44530,21297,95857,93551,9918]
num.sort(reverse=True)
k=6
diff=[]
i
print(num)
for i in range(0,len(nums)-1):
            if i+k > len(nums):
                break
            else:
                 for j in range(i+1,i+k):
                    diff.append(nums[i]-nums[j])

print(min(diff))

[95857, 93551, 87063, 61094, 44530, 21297, 9918]

IndexError: list index out of range