In [1]:
## Fibonacci series up to 1000
a,b=0,1
while a < 1000:
    print(a, end='|')
    a, b = b, a + b
print()

0|1|1|2|3|5|8|13|21|34|55|89|144|233|377|610|987|

# ðŸ Introduction to Python

## What is Python?

Python is a popular high-level programming language. It was created by **Guido van Rossum** and released in **1991**.

Python is designed to be:
- Easy to read
- Simple to write
- Powerful and flexible

---

## Where is Python Used?

Python is widely used in:

- ðŸŒ Web development (server-side)
- ðŸ’» Software development
- ðŸ§® Mathematics and scientific computing
- âš™ï¸ System scripting and automation
- ðŸ“Š Data analysis and big data
- ðŸ¤– Machine Learning and Artificial Intelligence

---

## What Can Python Do?

Python can:

- Create web applications on servers
- Automate workflows and repetitive tasks
- Connect to database systems
- Read and modify files
- Handle large datasets
- Perform complex mathematical calculations
- Be used for rapid prototyping
- Be used for production-ready software development

---

## Why Python?

Python is popular because:

- âœ… Works on multiple platforms (Windows, macOS, Linux, Raspberry Pi)
- âœ… Has a simple syntax similar to the English language
- âœ… Requires fewer lines of code compared to many other languages
- âœ… Uses an interpreter (code runs immediately)
- âœ… Supports multiple programming styles:
  - Procedural
  - Object-Oriented
  - Functional

---

## Good to Know

- The most recent major version is **Python 3**
- Python code can be written using:
  - A text editor
  - IDEs (Integrated Development Environments) such as:
    - Thonny
    - PyCharm
    - NetBeans
    - Eclipse

IDEs are especially useful for managing large Python projects.

---

## Python Syntax Compared to Other Languages

Python focuses on **readability**:

- Uses **new lines** instead of semicolons (`;`)
- Uses **indentation (spaces)** to define code blocks
- Does **not** use curly braces `{}` like C, Java, or JavaScript

### Example:

```python
if x > 5:
    print("x is greater than 5")

In [14]:
import sys
print(sys.version)
print(sys.version_info)
print(sys.executable)
print(sys.path)
print(sys.platform)
print(sys.maxsize)
print(sys.prefix)
print(sys.api_version)
print(sys.byteorder)
print(sys.copyright)

3.13.9 (tags/v3.13.9:8183fa5, Oct 14 2025, 14:09:13) [MSC v.1944 64 bit (AMD64)]
sys.version_info(major=3, minor=13, micro=9, releaselevel='final', serial=0)
C:\Users\venki\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe
['C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0\\python313.zip', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0\\DLLs', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0\\Lib', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0', '', 'C:\\Users\\venki\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python313\\site-packages', 'C:\\Users\\venki\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python313\\site-packages\\win32', 'C:\\Users\\venki\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python313\\site-packages\\win32\\lib', 'C:\\Users\\venki\\AppData\\Local\\Packages\\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\\LocalCache\\local-packages\\Python313\\site-packages\\Pythonwin', 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0\\Lib\\site-packages']
win32
9223372036854775807
C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.13_3.13.2544.0_x64__qbz5n2kfra8p0
1013
little
Copyright (c) 2001-2024 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.

In [15]:
print("I am venkatesh",33,"Date of Birth is 24-05-1992",1+3)

I am venkatesh 33 Date of Birth is 24-05-1992 4

In [19]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
print(x,y,z)

Orange
Banana
Cherry
Orange Banana Cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)
print(x+y+z)

Python is awesome
Pythonisawesome

In [22]:
x = 5
y = "John"
print(x, y)

5 John

In [ ]:
#Global Variable
x = "awesome"

def myfunc():
# local variable
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [26]:
def myfunc():
  global x
  x = "fantastic"
  return x

myfunc()
x= "test"

print("Python is " + x)

print(myfunc())

Python is test
fantastic

In [27]:
x = 5
print(type(x))

<class 'int'>

In [28]:
x?

Type:        int
String form: 5
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating-point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [29]:
x = str("Hello World")

In [ ]:
s = "hello"
s[0]='H'
print(id(s))

s = s + " world"
print(id(s))

TypeError: 'str' object does not support item assignment

In [34]:
x = range(6)
print(x)

range(0, 6)

In [40]:
x = dict(name="John", age=36)
print(x.get("age"))

36

In [41]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [42]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [43]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [48]:
import random
print(random.randrange(1,10))

6

In [50]:
a = "Hello, World!"
print(a[1])
print(len(a))

e
13

In [54]:
txt = "The best things in life are free!"
print("best" in txt)
print("best" not in txt)

True
False

In [69]:
b = "Hello, World!"
print(b[10:-1])

ld

In [70]:
print(b.upper())

HELLO, WORLD!

In [71]:
print(a.replace("H", "J"))

Jello, World!

In [73]:
print(a.split(","))

['Hello', ' World!']

In [74]:
age = 33
print(f"My name is Venkatesh. I am {age} years old.")

My name is Venkatesh. I am 33 years old.

In [75]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [76]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [81]:
txt = "We are the so-called \"Vikings\"\n from the \t north."
print(txt)

We are the so-called "Vikings"
 from the 	 north.

In [89]:
string="hello, world!"
print(string.capitalize())
string=string.upper()
print(string.casefold())

Hello, world!
hello, world!

In [92]:
string="Venkatesh Venkatesh"
print(string.center(38))

         Venkatesh Venkatesh

In [93]:
print(string.count("e"))

4

In [104]:

string="Alexa"
print(string.encode())
print(string.endswith("a"))
print(string.expandtabs(30))
print(string.find("e"))

b'Alexa'
True
Alexa
2

In [107]:
print("{0} is learning {1}. {0} likes {1}.".format("Venkatesh", "Python"))

Venkatesh is learning Python. Venkatesh likes Python.

In [111]:
index = string.index("e")
print(string)
print(index)

Alexa
2

In [112]:
print(string.isalnum() )

True

In [113]:
print(string.isalpha())

True

In [114]:
print(string.isascii())

True

In [115]:
print(string.isdecimal())

False

In [116]:
print(string.isdigit())

False

In [117]:
print(string.isidentifier())

True

In [118]:
print(string.join(["My","name","is","Venkatesh"]))

MyAlexanameAlexaisAlexaVenkatesh

In [121]:
a= " Hello, World! "
a="Test".join(a)
print(a)

 TestHTesteTestlTestlTestoTest,Test TestWTestoTestrTestlTestdTest!Test

In [125]:
print(string.partition("e"))
print(string.replace("a", "o"))
string.replace("e", "i")
print(string)

('Al', 'e', 'xa')
Alexo
Alexa

In [127]:
print(string.rfind("e"))
print(string.swapcase())

2
aLEXA

In [128]:
a= "balu"
print(a.title() )

Balu

In [135]:
print(bool(None))

False

In [ ]:
class myclass():
    def __len__(self):
        return 0

class mydaugtherclass(myclass):
    def test():
        return 5

myobj = mydaugtherclass()
print(bool(myobj.test()))

True

In [140]:
x = 15
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)

19
11
60
3.75
3
50625
3

In [141]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [142]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [144]:
x= [5]
y= [5]
print(x == y) 
print(x is y)

True
False

In [145]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)

True

In [146]:
text = "Hello World"

print("H" in text)
print("hello" in text)
print("z" not in text)

True
False
True

In [147]:
print(6 & 3)

2

In [148]:
mixed_list = [
    "apple",        # string
    10,             # int
    3.14,           # float
    "banana",
    25,
    99.9,
    "orange",
    0,
    7.5,
    "grapes",
    -3,
    42.0,
    "mango",
    100,
    0.001,
    "milk",
    8,
    56.78,
    "bread",
    1
]

In [151]:
print(len(mixed_list))

20

In [150]:
for item in mixed_list:
    if isinstance(item, str):
        print(f'"{item}" is a string')
    if isinstance(item, int):
        print(f'{item} is an integer')
    if isinstance(item, float):
        print(f'{item} is a float')

"apple" is a string
10 is an integer
3.14 is a float
"banana" is a string
25 is an integer
99.9 is a float
"orange" is a string
0 is an integer
7.5 is a float
"grapes" is a string
-3 is an integer
42.0 is a float
"mango" is a string
100 is an integer
0.001 is a float
"milk" is a string
8 is an integer
56.78 is a float
"bread" is a string
1 is an integer

In [163]:
thislist=list(range(1,21))
print(thislist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [156]:
print(mixed_list[2:5])

[3.14, 'banana', 25]

In [159]:
print(thislist[2:6])

[3, 4, 5, 6]

In [175]:
print(thislist[-4:-1])

[17, 18, 19]

In [194]:
thislist = ["apple", "banana", "cherry"]
thislist[1:4] = ["blackcurrent", "blueberry","strawberry"]
print(thislist)
thislist.insert(2,"orange")
print(thislist)
thislist.append("kiwi")
print(thislist)
thislist2=["mango", "pineapple", "papaya"]
thislist.extend(thislist2)
print(thislist)
thistuple={"newberry", "watermelon"}
thislist.extend(thistuple)
print(thislist)
thislist.remove("orange")
print(thislist)
thislist.pop(3)
print(thislist)
thislist.pop()
print(thislist)
del thislist[0]
print(thislist)
del thislist

['apple', 'blackcurrent', 'blueberry', 'strawberry']
['apple', 'blackcurrent', 'orange', 'blueberry', 'strawberry']
['apple', 'blackcurrent', 'orange', 'blueberry', 'strawberry', 'kiwi']
['apple', 'blackcurrent', 'orange', 'blueberry', 'strawberry', 'kiwi', 'mango', 'pineapple', 'papaya']
['apple', 'blackcurrent', 'orange', 'blueberry', 'strawberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon', 'newberry']
['apple', 'blackcurrent', 'blueberry', 'strawberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon', 'newberry']
['apple', 'blackcurrent', 'blueberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon', 'newberry']
['apple', 'blackcurrent', 'blueberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon']
['blackcurrent', 'blueberry', 'kiwi', 'mango', 'pineapple', 'papaya', 'watermelon']

In [195]:
thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']

In [198]:
new_list= [x for x in thislist]
print(new_list)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']

In [199]:
string="Hello, World!"
if 'e' in string:
    print("Yes, 'e' is present.")

Yes, 'e' is present.

In [209]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list=[x for x in fruits if 'a' in x]
print(new_list)

new_list.sort(reverse=True)
print(new_list)

new_list.reverse()
print(new_list)

['apple', 'banana', 'mango']
['mango', 'banana', 'apple']
['apple', 'banana', 'mango']

In [212]:
my_list=list(new_list[1:2])
print(my_list)

['banana']

In [213]:
newlist=my_list.copy()
print(newlist)

['banana']

In [214]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [215]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [216]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[0:2])

('apple', 'banana')

In [220]:
print(thistuple[-1])

mango

In [221]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [224]:
x = ("apple", "banana", "cherry")
x+= ("orange",)
print(x)

('apple', 'banana', 'cherry', 'orange')

In [222]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits[1]='Blueberry'
print(fruits)

['apple', 'Blueberry', 'cherry', 'kiwi', 'mango']

In [223]:
x = ("apple", "banana", "cherry","banana")
print(set(x))

{'cherry', 'banana', 'apple'}

In [233]:
x = {"apple", "banana", "cherry","banana"}
x.add("orange")
print(x)

{'cherry', 'orange', 'banana', 'apple'}

In [226]:
for fruit in x:
    print(fruit)

apple
banana
cherry
orange

In [227]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [229]:
fruits.count("apple")

1

In [230]:
fruits.index("cherry")

2

In [250]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [251]:
print(len(thisdict))
thisdict["resale"] = 'Yes'

3

In [252]:
print(len(thisdict))

4

In [253]:
thisdict.get("model")

'Mustang'

In [254]:
thisdict.values()
thisdict.update({"color": "red"})
print(thisdict)
thisdict.update({"brand": "Ferrari"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'resale': 'Yes', 'color': 'red'}
{'brand': 'Ferrari', 'model': 'Mustang', 'year': 1964, 'resale': 'Yes', 'color': 'red'}

In [255]:
thisdict.pop("model")
print(thisdict)

{'brand': 'Ferrari', 'year': 1964, 'resale': 'Yes', 'color': 'red'}