In [24]:
sales = {
    "apple": 3,
    "banana": 7,
    "orange": 2,
    "pineapple": 7,
}

In [25]:
sales.keys()

dict_keys(['apple', 'banana', 'orange', 'pineapple'])

In [26]:
max(sales.values())

7

In [41]:
tuple=[]
for i,j in sales.items():
    if j == max(sales.values()):
        print(i,j)
        tuple= tuple+ [i,j]

print(tuple)

banana 7
pineapple 7
['banana', 7, 'pineapple', 7]

In [ ]:
sales = "Laptop Fridge AC Laptop Fridge Mobile Laptop Laptop AC Mobile Fridge Fridge" 
products_list= sales.split()
products_list

product_count= {}
for product in products_list:
    product_count[product] = product_count.get(product,0)+1
print(product_count)

max_count=max(product_count.values())
highest_selling_products = [
    (i, j) for i, j in product_count.items() if j == max_count
]

# Find the product with the highest sales
best_product = min(highest_selling_products)

print(best_product)

{'Laptop': 4, 'Fridge': 4, 'AC': 2, 'Mobile': 2}
('Fridge', 4)

In [ ]:
best_product

Type:        tuple
String form: ('Fridge', 4)
Length:      2
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [26]:
max_count=max(product_count.values())

highest_selling_products = [
    (i, j) for i, j in product_count.items() if j == max_count
]

In [27]:
print(highest_selling_products)

[('Laptop', 4), ('Fridge', 4)]

In [ ]:
s = "swiss" 

for i, char in enumerate(s):
    if s.index(char) == i:
        print(char, i)

s 0
w 1
i 2

In [ ]:
s="swiss"

char_list = {}
for char in s:
    char_list[char] = char_list.get(char, 0) + 1
print(char_list)

# Find the first non-repeating character in a string
updated_list = [(i, j) for i, j in char_list.items() if j == 1]
print(updated_list)

if updated_list is None:
    return None

{'s': 3, 'w': 1, 'i': 1}
[('w', 1), ('i', 1)]

In [8]:
s="aabbcc"
char_list = {}
for char in s:
    char_list[char] = char_list.get(char, 0) + 1

# Find the first non-repeating character in a string
first_one = next((ch for ch in s if char_list[ch] == 1),None)
print(first_one)

None

In [10]:
s = "racecar"
ch_frequency={}
for ch in s:
		ch_frequency[ch]=ch_frequency.get(ch,0)+1
print(min(ch_frequency.keys()))
print(ch_frequency)


for ch in s:
	print(ord(ch)-ord('a'))

a
{'r': 2, 'a': 2, 'c': 2, 'e': 1}
17
0
2
4
2
0
17

In [ ]:
def first_non_repeating(s: str) -> str:
    freq = [0] * 26  # O(1) space

    # Step 1: Count frequency
    for ch in s:
        freq[ord(ch) - ord('a')] += 1

    # Step 2: Find first non-repeating character
    for ch in s:
        if freq[ord(ch) - ord('a')] == 1:
            return ch

    return '$'

In [23]:
arr= [6,1, 2, 3, 5]
arr.sort()
print("length of arr:", len(arr))
for i in range(1, len(arr)+1):
    if i!= arr[i-1]:
        print(i)
        break

n = len(arr) + 1
expected_total = n * (n + 1) // 2
actual_total = sum(arr)
missing_number = expected_total - actual_total
print(missing_number)

length of arr: 5
4
4

In [45]:
arr = [16, 17, 4, 3, 5, 2]
# Collect leaders: an element is a leader if it's greater than all elements to its right
leader=[arr[-1]]
max_so_far=arr[-1]
print("Initial Leader List:",leader)
for i in range(len(arr)-2,-1,-1):
    if arr[i] > max_so_far:
        leader.append(arr[i])
        max_so_far=arr[i]
       
print("Leader List:",leader[::-1])

Initial Leader List: [2]
Leader List: [17, 5, 2]

In [55]:
arr = [16, 17, 4, 3, 5, 2]

arr.append(21)
print(arr)
arr.pop()
arr

[16, 17, 4, 3, 5, 2, 21]

[16, 17, 4, 3, 5, 2]

In [52]:
s = "[{()}]"
dict_brackets = {"(": ")", "{": "}", "[": "]"}
i = 1
for j in range(len(s)//2):
    temp = dict_brackets.get(s[j])
    if temp == s[len(s) - i]:
        i = i + 1
    else:
       print(False)
       break

temp [
s[len(s)-i]: ]
temp {
s[len(s)-i]: }
temp (
s[len(s)-i]: )

In [21]:
def find_equilibrium_index(arr: list[int]) -> int:
    # Write your code here
    for i in range(1, len(arr)):
        right_sum = 0
        left_sum = 0
        for j in range(i + 1, len(arr)):
            right_sum = right_sum + arr[j]        

        for k in range(0, i):
            left_sum = left_sum + arr[k]        

        if right_sum == left_sum:
            return i
        
        
    return -1


def find_equilibrium_index(arr: list[int]) -> int:
    # Step 1: Compute total sum of the array
    total_sum = sum(arr)
    left_sum = 0

    # Step 2: Traverse through the array
    for i, num in enumerate(arr):
        # Step 3: Check equilibrium condition
        if left_sum == total_sum - left_sum - num:
            return i  # Found equilibrium index
        # Step 4: Update left_sum
        left_sum += num

    # Step 5: No equilibrium index found
    return -1



arr = [1, 2, 0, 3]
print(find_equilibrium_index(arr))
arr=[-7, 1, 5, 2, -4, 3, 0]
print(find_equilibrium_index(arr))
arr=[0, 0, 0, 0]
print(find_equilibrium_index(arr))

2
3
0

In [20]:
arr = [1, 2, 0, 3]
print(len(arr))
for i in range(1, len(arr)):
    print(i, arr[i])

4
1 2
2 0
3 3

In [24]:
arr = [-1, 0, 1, 2, -1, -4]
def find_unique_zero_pairs(arr: list[int]) -> list[list[int]]:
    # Write your logic here
    arr = sorted(arr)
    uniquepair = []
    for i in range(0, len(arr)):
        for j in range(i + 1, len(arr)):
            if arr[i] + arr[j] == 0:
                if [arr[i], arr[j]] not in uniquepair:
                    uniquepair.append([arr[i], arr[j]])

    return uniquepair

find_unique_zero_pairs(arr)

[[-1, 1]]

In [ ]:
s = "..sql..for.geeks."
split_list=s.split(sep='.')
split_list
reversed_list=''
for words in split_list[::-1]:
    if words =='':
        reversed_list=reversed_list+'.'
    else:
        reversed_list=reversed_list+words

reversed_list

'muchveryprogramthislikei'

In [ ]:
arr = [3, 3, 3, 3]
print(max(arr))

count_arr= [0 for _ in range(max(arr))]
print(count_arr)
for i in range(0,len(arr)):
    count_arr[arr[i]-1] += 1

print(count_arr)

3
[0, 0, 0]
[0, 0, 4]

In [52]:
arr = [1, 1, 2, 2, 2, 2, 3]
target = 2
target_occurance = 0
for num in range(len(arr)):
    if arr[num] == target:
        target_occurance += 1

print(target_occurance)

4

In [15]:
import pandas as pd

orders_url = "https://raw.githubusercontent.com/ankitbansal6/namastesql_etl_datasets/refs/heads/main/ta/orders.csv"
products_url = "https://raw.githubusercontent.com/ankitbansal6/namastesql_etl_datasets/refs/heads/main/ta/products.csv"

# use pd.read_csv(url) to read files
df1= pd.read_csv(orders_url)
df1.head(5)
df1['quantity']=df1['quantity'].fillna(0)

   order_id product_id  quantity  order_date   region
0         1         P8       4.0  2023-05-21  Central
1         2         P7       0.0  2023-12-12    South
2         2        P15       5.0  2023-05-02    North
3         3         P5       4.0  2023-07-03     West
4         3        P13       2.0  2023-10-07    South

In [18]:
df1.isnull().sum()

order_id      0
product_id    0
quantity      0
order_date    0
region        0
dtype: int64

In [19]:
df2=pd.read_csv(products_url)
df2.head(5)

  product_id     category  price
0         P1  Electronics    200
1         P2  Electronics    150
2         P3    Furniture    300
3         P4     Clothing    120
4         P5      Kitchen     80

In [22]:
df2.isnull().sum()

product_id    0
category      0
price         0
dtype: int64

In [21]:
df2['category']=df2['category'].fillna('Unknown')

In [23]:
df3=pd.merge(df1, df2, how='inner', left_on='product_id', right_on='product_id')

In [30]:
df3['revenue']= df3['quantity'] * df3['price']
df3.head()

,order_id,product_id,quantity,order_date,region,category,price,revenue
0,1,P8,4.0,2023-05-21,Central,Furniture,350,1400.0
1,2,P7,0.0,2023-12-12,South,Electronics,180,0.0
2,2,P15,5.0,2023-05-02,North,Unknown,70,350.0
3,3,P5,4.0,2023-07-03,West,Kitchen,80,320.0
4,3,P13,2.0,2023-10-07,South,Furniture,400,800.0

In [36]:
agg_df = (
    df3.groupby("category", as_index=False)["revenue"]
    .sum()
    .rename(columns={"revenue": "total_revenue"})
)

In [41]:
df4 = (
    df3.groupby('category', as_index=False)['revenue']
    .sum()
    .sort_values('revenue', ascending=False)
    .rename(columns={'revenue': 'total_revenue'})
)
display(df4)

      category  total_revenue
2    Furniture       177700.0
1  Electronics       122210.0
4       Sports        65050.0
0     Clothing        48580.0
3      Kitchen        18840.0
5      Unknown        11550.0

In [43]:
agg_df.reset_index()

   index     category  total_revenue
0      0     Clothing        48580.0
1      1  Electronics       122210.0
2      2    Furniture       177700.0
3      3      Kitchen        18840.0
4      4       Sports        65050.0
5      5      Unknown        11550.0

In [44]:
agg_df

      category  total_revenue
0     Clothing        48580.0
1  Electronics       122210.0
2    Furniture       177700.0
3      Kitchen        18840.0
4       Sports        65050.0
5      Unknown        11550.0

In [2]:
def add(*args):
    return sum(args)

sum = add(1,2,5,7,8)
print(sum)

TypeError: 'int' object is not callable

In [3]:
def greet(name, msg):
    print(msg, name)

greet(name="Venkatesh", msg="Hello")   # ✅
greet(msg="Hi", name="Venkatesh")      # ✅ order doesn’t matter

Hello Venkatesh
Hi Venkatesh

In [4]:
def power(base, exp=2):
    return base ** exp

print(power(3))      # 3² = 9
print(power(3, 3))

9
27

In [5]:
def add(*args):
    print(args)
    return sum(args)

print(add(1, 2, 3))
print(add(5, 10, 15, 20))

(1, 2, 3)

TypeError: 'int' object is not callable

In [6]:
def demo(a, b=10, *args, **kwargs):
    print("a:", a)
    print("b:", b)
    print("args:", args)
    print("kwargs:", kwargs)

demo(1, 2, 3, 4, x=100, y=200)

a: 1
b: 2
args: (3, 4)
kwargs: {'x': 100, 'y': 200}

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys



#
# Complete the 'transformSentence' function below.
#
# The function is expected to return a STRING.
# The function accepts STRING sentence as parameter.
#

def transformSentence(sentence):
    words = sentence.split()
    result_words = []

    for word in words:
        chars = list(word)   # convert string → list
        
        for i in range(1, len(chars)):
            prev=chars[i-1].lower()
            curr=chars[i].lower()
            if prev < curr:
                chars[i] = chars[i].upper()
            else:
                chars[i] = chars[i].lower()
        
        result_words.append("".join(chars)) 

    return " ".join(result_words)


if __name__ == '__main__':
    

    sentence = input()

    result = transformSentence(sentence)

    print(result)

a BLUe MOON